<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="well">
      <%= form_for(@tweet, :html => { class:"form-horizontal", role:"form" }) do |f| %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.text_area :content, class:"form-control", placeholder:"What's happening?", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit class:"btn btn-primary"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
