@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #E5ECF0;
  padding-top: 70px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#logo {
  color: #009df6;
}

#band {
  text-align: center;
}

.row-band {
  background-color: #fff;
  margin-bottom: 1px solid #eaeaea;
}
.center {
  text-align: center;
}

.navbar-default {
  background-color: #FFF;
  border-bottom: 1px solid #ACB1B4;
}

.navbar-nav li a {
  font-weight: bold;
}

.nav.navbar-nav.navbar-left li a {
    color: #009df6;
    &:hover {
      border-bottom: 2px solid #009df6;
    }
    &.active {
      border-bottom: 2px solid #009df6;
    }
}

.well-tweets {
  margin-bottom: 0px;
  height: 200px;
  width: 500px;
}

.btn-custom {
  background-color: #009df6;
  border-radius: 20px;
  color: #FFF;
  font-weight: bold;
  padding: 5px 20px;
}

input.form-control {
  background-color: #F4F8FA;
  color: #647A8A;
  font-size: 0.9em;
}

.form-inline {
  padding-top: 15px;
  font-size: 1.2em;
  text-align: center;
}

.input-group {
    position: relative;
    width: 190px;
    height: 30px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #009DF6;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #FFF;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.btn-signup {
  background-color: #009df6;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  font-weight: bold;
  padding: 5px 100px;
  display: block;
  &:hover {
    background-color: #0066C2;
    color: #FFF;
  }
}

.btn-login {
  background-color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  color: #009df6;;
  border-color: #009df6;
  padding: 5px 110px;
  display: block;
  &:hover {
    background-color: #E8F5FE;
    color: #009df6;
  }
}

.btn-custom {
  background-color: #009df6;
  border-radius: 20px;
  color: #FFF;
  font-weight: bold;
  padding: 5px 20px;
  display: block;
}

.button {
  margin-top: 20px;
}

.left-text {
  text-align: left;
  font-size: 1.3em;
  color: #FFF;
  font-weight: bold;
}

.right-text h2 {
  margin-bottom: 80px;
  color: #13171A;
}

.right-text p {
  color: #13171A;
  font-size: 1.2em;
  font-weight: bold;
}

.well {
  background-color: #FFF;
}

.tweet-actions {
  margin-top: 10px;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.tweet-meta {
border-top: 1px solid #eaeaea;
margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.jumbotron.UserShowPage {
  background-color: #000;
  margin-top: -20px;
  margin-bottom: 0;
  height: 400px;
}
